/* default styles */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* page styles */
html {
    width: 100%;
    height: 100%;
}
body {
    font-family: Segoe UI, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}


/* page header */
header {
    padding: 10px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    background-color: #96a8c8;
}


/* error banner */
#error {
    padding: 10px;
    text-align: center;
    width: 100%;
}


/* description */
#description {
    text-align: center;
    margin: 15px 10px 5px;
}


/* calculator */
#calculator {
    margin: 0px 10px;
}
#calculator div {
    margin: 10px 0px;
}
#calculator label {
    font-weight: bold;
}
#calculator input[type=number] {
    width: 65px;
    border-radius: 5px;
    padding: 3px;
}
#calculator select {
    border-radius: 5px;
    padding: 3px;
}
#output {
    margin-top: 20px !important;
}


/* ensure footer is at the bottom of the page */
#placeholder {
    flex-grow: 1;
}


/* page footer */
footer {
    margin: 10px;
}
footer a {
    text-decoration: none;
    font-weight: 600;
}
footer a:hover {
    text-decoration: underline;
}


/* adjust font sizes for mobile devices */
@media only screen and (max-width: 800px) {
    input, select {
        font-size: 1em;
    }
}


/* light mode (default) */
body {
    background-color: #ffffff;
}
* {
    color: #000000;
}
#error {
    background-color: hsl(0, 100%, 70%);
    color: #ffffff;
}
input, select {
    background-color: #ffffff;
    border: 1px solid hsl(0, 0%, 75%);
}
a {
    color: hsl(210, 100%, 40%);
}


/* dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: hsl(210, 15%, 10%);
    }
    * {
        color: hsl(210, 15%, 80%);
    }
    #error {
        background-color: hsl(0, 50%, 50%);
        color: #ffffff;
    }
    header h1 {
        color: #000000;
    }
    input, select {
        background-color: hsl(210, 15%, 5%);
        border: 1px solid hsl(210, 15%, 25%);
    }
    a {
        color: hsl(210, 100%, 65%);
    }
}


/* 404 page */
#error404 {
    margin: 10px;
    text-align: center;
}
